

  <mat-toolbar style="background-color: rgb(93, 93, 163);">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="color: white;">User Management System</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    </button>
  </mat-toolbar>

  <div class="table-container mat-elevation-z8">
    <button style="margin-bottom: 15px;" mat-raised-button color="primary" (click)="addUser()">Add User</button>

    <mat-form-field style="margin:auto;" appearance="outline">
      <mat-label>Search by Name or Email</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Type to search..." />
    </mat-form-field>
  
    <table mat-table [dataSource]="filteredUsers" matSort class="mat-elevation-z8 full-width-table">

      <ng-container matColumnDef="serialNo">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let user; let i = index"> {{ getSerialNumber(i) }} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let user"> {{user.name}} </td>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>
  
      <!-- Role Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let user"> {{user.role}} </td>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button color="primary" (click)="editUser(user)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteUser(user.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  







 